.app
  display: grid
  grid-template-rows: 90% 10%
.body
  display: grid
  grid-template-rows: 10vh 88vh
  background-image: url('../../image/back.jpg')
  cursor: grab !important
  overflow: hidden !important